{% spaceless %}
    <header id="header" class="clearfix">
        <span class="left">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('chlorius_album_index', {'username': username}) }}" class="{% if app.request.get('_route') == 'chlorius_album_index' %} selected{% endif %}">
                    <i class="icon-folder"></i>
                    {{ username }} albums
                </a>
                {% if app.request.get('_route') == 'chlorius_album_show' %}
                    <a href="{{ path('chlorius_album_show', {'username': username, 'albumId': album.id, 'albumName': album.name}) }}" class="selected">
                        <i class="icon-folder"></i>
                        {{ album.name }}
                    </a>
                {% endif %}
            {% endif %}
        </span>
        <span class="right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <a href="{{ path('chlorius_album_new', {'username': app.user.username }) }}" class="{% if app.request.get('_route') == 'chlorius_album_new' %} selected{% endif %}">
                    <i class="icon-plus-squared"></i>
                    {{ 'New album'|trans }}
                </a>

                <a href="{{ path('fos_user_profile_show') }}" class="iAccount{% if app.request.get('_route') == 'fos_user_profile_show' %} selected{% endif %}">
                    <i class="icon-user"></i>
                    {{ app.user.username }}
                </a>

                <a href="{{ path('fos_user_security_logout') }}" class="iLogout">
                    <i class="icon-logout"></i>
                    {{ 'Logout'|trans }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            {% block rightLink %}
            {% endblock %}
        </span>
        <span class="center">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% endif %}
        </span>
    </header>
{% endspaceless %}
