<header class="clearfix">
    {% block leftLink %}
    {% endblock %}
    <span class="floatR ">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="account" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
            <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
        {% block rightLink %}
        {% endblock %}
    </span>
</header>
