{% extends 'ChloriusBundle::base.html.twig' %}

{% block body %}
    <div class="hidden">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for key, message in app.session.getFlashes() %}
        <div class="hidden {{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <section class="login popin">
        <form id="login_form" action="{{ path('login_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <ul class="listFields">
                <li>
                    <input placeholder="Login" type="text" id="username" name="_username" value="{{ last_username }}" {% if error %}style="border: solid 2px #E21B19 !important;"{% endif %}/>
                </li>
                <li>
                    <input placeholder="Password" type="password" id="password" name="_password" {% if error %}style="border: solid 2px #E21B19 !important;"{% endif %}/><input class="button" type="submit" value=">" />
                </li>
            </ul>
            {% if error %}
                <div class="errorTxt">{{ error|trans }}</div>
                <br>
            {% endif %}
            <p class="forgetPass">
                <a class="showPopin" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            </p>
        </form>
    </section>
{% endblock %}