<h1>Albums</h1>

<a href="{{ path('chlorius_album_new', {'username': username}) }}">{{ 'New album'|trans }}</a>

<ul>
    {% for album in albums %}
        <li>
            {{ album.name }}
            <span>( {{ album.date|date("d/m/Y") }} )</span>
            <a href="{{ path('chlorius_album_remove', {'username': username, 'id': album.id}) }}">Delete</a>
        </li>
    {% else %}
        <p>no albums</p>
    {% endfor %}
</ul>
{% for message in app.session.flashbag.get('album') %}
    <p class="valid">{{ message }}<span onclick="$(this).parent().remove()">X</span></p>
{% endfor %}